[Unit]
Description=Airtime Media-Monitor Service

[Service]
ExecStart=/usr/bin/airtime-media-monitor
User=airtime-media-monitor
Group=airtime-media-monitor

[Install]
WantedBy=multi-user.target
