[Unit]
Description=Airtime Playout Service

[Service]
ExecStart=/usr/bin/airtime-playout
User=airtime-pypo
Group=airtime-pypo

[Install]
WantedBy=multi-user.target
